@use "../global/base" as b;

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  &__tablet-image,
  &__mobile-image {
    display: none;
  }

  &__image {
    position: absolute;
    top: -11rem;
    right: -22rem;
    width: auto;
    max-width: 100%;
    height: auto;
  }

  &__text {
    @media (max-width: 768px) {
      grid-column: 1 / 2;
    }
  }

  &__title {
    @include b.heading-xl;
    padding-bottom: 1.875rem;
    margin-top: 11.5rem;

    @media (max-width: 768px) {
      @include b.heading-l;
    }
  }

  &__subtext {
    @include b.body-m;
    max-width: 27rem;
    @media (max-width: 768px) {
      @include b.body-s;
      width: 100%;
    }
  }

  &__btn {
    @include b.button-2;
    margin-top: 2.5rem;
  }

  // // Tablet view
  // @media (max-width: 768px) {

  // }

  // // Mobile view
  // @media (max-width: 375px) {

  // }
}
