@use "../global/base" as b;

.head {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 6.25rem;
  }

  @media (max-width: 375px) {
    margin-top: 1rem;
  }

  &__logo {
    @media (max-width: 768px) {
      width: 5.563rem;
      height: auto;
    }
  }

  &__btn {
    @include b.button-1;
    z-index: 1;
  }
}
